<div class="section--promoted">
  <div class="container">
    <div class="row">
      <div class="col-4 promo-box">
        <div class="promo-panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col heading"><h3>Hot deals</h3></div>
            <div class="col dots">
              <ul>
                <li><a href="#" class="active"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="promo-product-box">
          <div class="photo">
            <img src="/images/product-bad-4.jpeg" alt="bed" />
            <div class="buttons">
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
              <div class="counter">
                <div>
                  <p>25</p>
                  <p>days</p>
                </div>
                <div>
                  <p>10</p>
                  <p>hrs</p>
                </div>
                <div>
                  <p>45</p>
                  <p>mins</p>
                </div>
                <div>
                  <p>30</p>
                  <p>secs</p>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-star"></i></a>
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price">
              <div class="btn-main-small no-hover">$ 100.00</div>
              <div class="btn-main-small no-hover"><s>$ 120.00</s></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 promo-slider">
        <div class="main-carousel-promo">
          <div class="carousel-cell"></div>
          <div class="carousel-cell"></div>
          <div class="carousel-cell"></div>
        </div>
        <div class="carousel-info text-selection-disabled grab" id="swipeCatchZone">
          <div class="carousel-slogan">indoor <span class="bold">furniture</span></div>
          <div class="carousel-offer">save up to 50% of all furniture</div>
          <button>shop now</button>
        </div>
      </div>
    </div>
  </div>
</div>
