<div class="section--bargain">
  <div class="container">
    <div class="row">
      <div class="col-md-6 small-screen">
        <div class="bargain-box-big">
          <img src="/images/bargain-main-1.jpg" alt="Main bargain" />
        </div>
      </div>
      <div class="col-md-6 small-screen">
        <div class="row">
          <div class="col-md-12">
            <div class="bargain-box-small">
              <img src="/images/bargain-main-2.jpg" alt="Nr 1 Small bargain" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="bargain-box-small">
              <img src="/images/bargain-main-3.jpg" alt="Nr 2 Small bargain" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
