.section--promoted {
  .promo-box {
    .promo-panel-bar {
      background-color: $form-border-color;

      .heading {
        position: relative;
        padding-left: 10px;

        h3 {
          color: $bar-color;
          text-transform: uppercase;
          font-size: 20px;
          line-height: 38px;
          margin: 0;
          letter-spacing: 1px;
        }
      }

      .dots {
        ul {
          margin: 0;
          padding: 0 0 0 1rem;
          list-style: none;
          transform: translateY(-6px);
          padding-right: 10px;

          li {
            display: inline-block;
            margin-left: 0.5rem;

            a {
              display: block;
              width: 13px;
              height: 13px;
              border-radius: 6px;
              background-color: #e1e1e1;
              @extend %element-hover;

              &.active,
              &:hover {
                background-color: $primary;
              }
            }
          }
        }
      }
    }

    .promo-product-box {
      background-color: #ffffff;
      margin-bottom: 2rem;
      width: 100%;

      .photo {
        position: relative;
        background: {
          color: #f4f5f7;
          size: contain;
          position: center;
          repeat: no-repeat;
          overflow: hidden;
          align-items: flex-end;
        }

        .buttons {
          display: none;
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 3px;

          a {
            display: block;
            width: 150px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
          }

          .counter {
            display: flex;
            justify-content: center;

            > div {
              border-radius: 50%;
              color: $bar-color;
              background-color: $form-border-color;
              width: 55px;
              height: 55px;
              margin-right: 5px;

              &:last-of-type {
                margin-right: 0;
              }

              p {
                margin: 0;
                line-height: 120%;

                &:first-of-type {
                  font-size: 24px;
                  margin-top: 4px;
                }

                &:last-of-type {
                  font-size: 12px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

        img {
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          padding: 0;
        }

        &:hover .buttons {
          display: block;
        }
      }

      .content {
        text-align: center;
        padding: 20px;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;

        h5 {
          color: $primary;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
        }

        .stars {
          a {
            text-decoration: none;
            color: rgb(42, 42, 42);
            @extend .far;
            @extend .fa-star;

            &.full {
              @extend .fas;
            }
          }
        }
      }

      .line {
        margin: 0 10px;
        border-bottom: 1px solid #2a2a2a;
        position: relative;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;

        &::before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 50%;
          width: 30px;
          border-bottom: 4px solid $primary;
          transform: translateX(-50%); // DEL ??
        }
      }

      .actions {
        padding: 15px 10px 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;

        .outlines {
          display: inline-block;

          .btn-outline {
            margin-left: 1px;
          }
        }

        .price {
          display: flex;
          margin-left: 1px;
          width: auto;

          .btn-main-small {
            margin: 0 3px;
          }
        }

        .active {
          background-color: $primary;
          color: #ffffff;
          border: 1px solid $primary;
        }
      }

      &:hover .price .btn-main-small:first-child {
        background-color: $primary;
      }
    }
  }

  .promo-slider {
    border: 3px solid red; // TEST

    .main-carousel-promo {
      height: 100%;

      //@extend %element-hover;

      .flickity-button {
        background: #333;
        z-index: 200;
      }
      .flickity-button:hover {
        background: #f90;
      }

      .flickity-prev-next-button {
        width: 30px;
        height: 30px;
        border-radius: 5px;
      }
      /* icon color */
      .flickity-button-icon {
        fill: white;
      }
      /* position outside */
      .flickity-prev-next-button.previous {
        left: -40px;
      }
      .flickity-prev-next-button.next {
        right: -40px;
      }

      .carousel-cell {
        width: 100%;
        height: 100%;

        &:nth-of-type(1) {
          background: url("/images/product-bad-1.jpeg") center/cover no-repeat;
        }

        &:nth-of-type(2) {
          background: url("/images/product-bad-2.jpeg") center/cover no-repeat;
        }

        &:nth-of-type(3) {
          background: url("/images/product-bad-3.jpeg") center/cover no-repeat;
        }
      }
    }

    .carousel-canvas {
      background: black;
      opacity: 0.3;
      width: 100%;
      height: 70%;
      position: absolute;
      bottom: 0;
      z-index: 100;
    }
  }
}

@media (max-width: 991.98px) {
  .main-carousel .carousel-cell {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .main-carousel .carousel-cell {
    width: 100%;
  }
}
