.product-box {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;
  margin-top: 2rem;

  .photo {
    position: relative;
    padding: 15% 10px 0 10px;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
      overflow: hidden;
      align-items: flex-end;
    }
  }
  .sale {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #292929;
    border-radius: 50%;
    color: #ffffff;
    padding: 30px 15px 5px 15px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    a {
      display: none;
    }
  }

  img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  &:hover {
    .buttons {
      a {
        display: inline-block;
        padding: 0 -10px;
        margin-top: -35px;
      }
    }

    .price .btn-main-small:first-child {
      background-color: $primary;
    }
  }
}

.content {
  text-align: center;
  padding: 20px;

  h5 {
    color: $primary;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
  }

  .stars {
    a {
      text-decoration: none;
      color: rgb(42, 42, 42);
      @extend .far;
      @extend .fa-star;

      &.full {
        @extend .fas;
      }
    }
  }
}

.line {
  margin: 0 10px;
  border-bottom: 1px solid #2a2a2a;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 30px;
    border-bottom: 4px solid $primary;
    transform: translateX(-50%);
  }
}

.actions {
  padding: 15px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .outlines {
    display: inline-block;

    .btn-outline {
      margin-left: 1px;
    }
  }
  .price {
    display: flex;
    margin-left: 1px;
    width: auto;

    .btn-main-small {
      margin: 0 3px;
    }
  }
  .active {
    background-color: $primary;
    color: #ffffff;
    border: 1px solid $primary;
  }
}

/*.main-carousel-bed*/
.tab-pane,
.main-carousel-chair {
  margin-bottom: 45px;

  .flickity-page-dots {
    right: 0;
    top: -29px;
    bottom: auto;
    width: auto;
    background: white;

    .dot {
      margin: 0 0 0 12px;
      width: 13px;
      height: 13px;
      background-color: $bar-color;
      opacity: 1;
      @extend %element-hover;

      &:first-of-type {
        margin: 0 0 0 24px;
      }

      &:hover {
        background: $primary;
        opacity: 1;
      }
    }

    .dot.is-selected {
      background: $primary;
    }
  }

  .carousel-cell {
    width: 25%;
    height: auto;

    &:nth-of-type(4n + 1) {
      padding: 0 20px 0 0;
    }

    &:nth-of-type(4n + 2) {
      padding: 0 13px 0 7px;
    }

    &:nth-of-type(4n + 3) {
      padding: 0 7px 0 13px;
    }

    &:nth-of-type(4n + 4) {
      padding: 0 0 0 20px;
    }
  }
}

@media (max-width: 1199.98px) {
  .section--products /*.main-carousel-bed */.carousel-cell, .section--products .main-carousel-chair .carousel-cell {
    width: 33.33%;

    &:nth-of-type(3n + 1) {
      padding: 0 20px 0 0;
    }

    &:nth-of-type(3n + 2) {
      padding: 0 10px;
    }

    &:nth-of-type(3n + 3) {
      padding: 0 0 0 20px;
    }
  }
}

@media (max-width: 991.98px) {
  .section--products .dots {
    display: none;
  }

  .section--products/* .main-carousel-bed*/, .section--products .main-carousel-chair {
    .carousel-cell {
      width: 50%;

      &:nth-of-type(2n + 1) {
        padding: 0 20px 0 0;
      }

      &:nth-of-type(2n + 2) {
        padding: 0 0 0 20px;
      }
    }

    .flickity-page-dots {
      right: 0;
      left: 0;
      top: auto;
      bottom: 0;

      .dot {
        margin: 0 0 0 12px;

        &:first-of-type {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .section--products /*.main-carousel-bed */.carousel-cell, .section--products .main-carousel-chair .carousel-cell {
    width: 100%;

    &:nth-of-type(2n + 1) {
      padding: 0;
    }

    &:nth-of-type(2n + 2) {
      padding: 0;
    }
  }
}
